body {
  margin: 2%;
  background-color: #41B3A3;
  padding: 20px;
}

.main-container{
  background-color: #d4e5ef;
  border-radius: 25px;
  box-shadow: 20px 10px #111;
}

.title {
  color: #111;
  padding-top: 1%;
  text-align: center;
  text-shadow: 1px 2px #41b3a3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-container{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}


.search-container{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.submit-container{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.se-practice-container{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;


}


h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 1%;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #85DCBA;
  text-shadow: 1px 2px #41b3a3;
}

td{
  font-family: sans-serif;
}

tr{
  font-family: sans-serif;
}

.pagination{
  font-family: sans-serif;
}